.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/**
!artifacts/.gitkeep
!artifacts/checkpoints/
!artifacts/checkpoints/.gitkeep
!artifacts/tokenizers/
!artifacts/tokenizers/.gitkeep
!artifacts/tweet-sentiment-model/
!artifacts/tweet-sentiment-model/best_checkpoint.pt
!artifacts/tweet-sentiment-model/tokenizer.json
!artifacts/tweet-sentiment-model/metrics.json
